# Lock after 5 minutes
timeout 300 'swaylock -f -C ~/.config/swaylock/config'

# Power monitors off after 10 minutes
# Any normal input (e.g., keyboard, mouse) should turn them back on
timeout 600 'niri msg action power-off-monitors' resume 'niri msg action power-on-monitors'

# Make sure the lock screen is triggered before sleeping
before-sleep 'swaylock -f -C ~/.config/swaylock/config'
