// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"^org.kde.konsole$"#
    default-column-width { proportion 0.33333; }
}

window-rule {
    match app-id=r#"^org.kde.dolphin$"#
    default-column-width { proportion 0.33333; }
}

// Open Steam games fullscreen in the gaming workspace
window-rule {
    match app-id=r#"steam_app_*"#
    match app-id="gamescope"
    open-on-workspace "gaming"
    open-fullscreen true
    open-focused true
}

// Open Steam pop-up windows on the secondary monitor, floating
window-rule {
    match app-id=r#"^steam$"#
    open-floating true
    default-column-width { proportion 0.66666; }
    open-on-workspace "secondary"
    open-focused true
}

// Open the Steam client on the secondary monitor
window-rule {
    match title="Steam"
    open-floating false
    default-column-width { proportion 1.0; }
    open-on-workspace "secondary"
    open-focused false
}

window-rule {
    match title="Signal"
    // default-window-height { proportion 0.50; }
    default-column-width { proportion 1.0; }
    open-on-workspace "secondary"
    open-focused false
}

window-rule {
    match app-id=r#"^sol$"#
    open-floating true
    default-window-height { proportion 0.55; }
    default-column-width { proportion 0.4; }
}

window-rule {
    match app-id="org.kde.kcalc"
    open-floating true
    default-window-height { proportion 0.5; }
    default-column-width { proportion 0.3; }
}

// Don't let the discord updater steal focus
window-rule {
    match title="Discord Updater"
    open-on-workspace "secondary"
    open-focused false
}

// Discord opens on the secondary workspace
window-rule {
    match app-id="discord"
    match app-id="vesktop"
    default-window-height { proportion 0.50; }
    default-column-width { proportion 1.0; }
    open-on-workspace "secondary"
    open-focused false
}


// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match title=r#"Extension: \(Bitwarden Password Manager\)"#
    match app-id="Bitwarden"

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    match app-id="org.freedesktop.impl.portal.desktop.kde"
    open-floating true
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=8 y=10 relative-to="bottom-right"
}

// The wallpaper from DMS goes into the background (visible on overview)
// Keep the primary wallpaper (e.g. from swaybg or swww) in the foreground
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
